{% extends 'base.html.twig' %}
{% macro recursiveCategory(category) %}
        {% if category.parent %}
            {{ _self.recursiveCategory(category.parent) }}
        {% endif %}
    &#x25BA;<a class="btn btn-default" href="{{ path('category_products_list', {'id': category.id, 'page': 1}) }}">{{ category.getName }}</a>
{% endmacro %}
{% block main %}
    <a href="{{ path('homepage') }}" class="btn btn-default">Home</a>
     {{ _self.recursiveCategory(category) }}
    <h1>{{ category.parent ? category.parent.name ~ '/': '' }}{{ category.name }} Products</h1>
    {% for child in category.children %}
        <a class="btn btn-default" href="{{ path('category_products_list',{'id': child.id}) }}">{{ child.getName }}</a>
    {% endfor %}
    <div class="container body-content">
        <div class="row text-center">
            {% for product in paginator.products %}
                <div class="col-md-4">
                    <article>
                        <header>
                            <h2 style="text-align: center">{{ product.name }}</h2>
                            {% if product.topPromotion(app.user) %}
                                <h4 style="color: red">{{ product.topPromotion(app.user).name }}</h4>
                            {% endif %}
                            <img src="{{ asset('app/images/' ~ product.image) }}" class="product-image"/>
                            <h4>Category:{{ product.category.parent ? product.category.parent.name ~ '/': '' }}{{ product.category.name }}</h4>
                        </header>
                        <p style="border: solid;border-radius: 3px">
                            Description: {{ product.description }}
                        </p>

                        <footer style="text-align: center">
                            {% if product.topPromotion(app.user) %}
                                <strike style="color: red">
                                    <b>Price: {{ product.price|number_format(2) }}лв</b></strike>.<br/>
                                <b>Promotion Price: {{ product.promoPrice|number_format(2) }}</b>
                            {% else %}
                                <b>Price: {{ product.price|number_format(2) }}лв.</b>
                            {% endif %}
                        </footer>
                        <small class="author">
                            Quantity: {{ product.quantity }} <br/>
                            Owner: {{ product.owner.username }}
                        </small>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('view_product', {'id': product.id}) }}">View product &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        {% if paginator.hasPrevious %}
            <a href="{{ path('category_products_list', {'id': category.id, 'page': 1}) }}">First</a> §§
            <a href="{{ path('category_products_list', {'id': category.id, 'page': paginator.currentPage - 1}) }}">Previous</a> |
        {% endif %}
        {% if paginator.allPages > 0 %}
            {% for i in 1..paginator.allPages %}
                {% if paginator.currentPage == i %}
                    {{ i }}
                {% else %}
                    <a href="{{ path('category_products_list', {'id': category.id, 'page': i}) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if paginator.hasNext %}
            <a href="{{ path('category_products_list', {'id': category.id, 'page': paginator.currentPage + 1}) }}">Next</a> §§
            <a href="{{ path('category_products_list', {'id': category.id, 'page': paginator.allPages}) }}">Last</a>
        {% endif %}
    </div>
{% endblock %}