{% extends 'base.html.twig' %}
{% block main %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <h4>Manage Categories</h4>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Products</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for category in  categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.products|length }}</td>
                <td><a href="{{ path('remove_category',{'id': category.id}) }}">Delete category</a></td>
            </tr>
        {% endfor %}
    </table> <br/>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(form) }}
            <fieldset>
                <legend>Create Category</legend>
                <div class="form-group">
                        {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="">Cancel</a>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
                {{ form_row(form._token) }}
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}