{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        {% for category in categories %}
            <div class="dropdown col-md-2">
                <button type="button" class="btn btn-primary dropdown-toggle form-control"
                        data-toggle="dropdown">
                    <span class="caret"></span>{{ category.name }}
                </button>
                <div class="dropdown-menu">
                    {{ _self.recursiveCategory(category) }}
                </div>
            </div>
        {% endfor %}

    </div>
    {% if app.user and (app.user.isAdmin() or app.user.isEditor()) %}
        <a href="{{ path('manage_categories') }}">Manage Categories</a>
        <a href="{{ path('promotion_list') }}">Manage Promotions</a>
    {% endif %}

    {% if app.user %}
        <h1>Hello, {{ app.user.firstName }}!</h1>
    {% else %}
        <h1>Hello Guest!</h1>
    {% endif %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    {% macro recursiveCategory(category) %}
        <li>
            <a href="{{ path('category_products_list', {'id': category.id, 'page': 1}) }}">{{ category.getName }}</a>
            {% if category.getChildren|length %}
                <ul>
                    {% for child in category.children %}
                        {{ _self.recursiveCategory(child) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}
    <div class="row">
        {% for product in paginator.products %}
            <div class="col-md-4">
                <article class="col-md-12">
                    <header>
                        <h2 style="text-align: center">{{ product.name }}</h2>
                        <img src="{{ asset('app/images/' ~ product.image) }}" width="365" height="260"/>
                    </header>
                    <p style="border: double;border-radius: 3px">
                        {{ product.getSummary }}
                    </p>
                    <footer style="text-align: center">
                        {% if product.topPromotion(app.user) %}
                            <strike style="color: red">
                                <b>Price: {{ product.price|number_format(2) }}лв</b></strike>.<br/>
                            <b>Promotion Price: {{ product.promoPrice|number_format(2) }}</b>
                        {% else %}
                            <b>Price: {{ product.price|number_format(2) }}лв.</b>
                        {% endif %}
                    </footer>
                    <small class="author">
                        Category: {{ product.category.parent ? product.category.parent.name ~ '/': '' }}{{ product.category.name }}
                        <br/>
                        Quantity: {{ product.quantity }}
                    </small>
                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
                               href="{{ path('view_product', {'id': product.id}) }}">View product &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        {% if paginator.hasPrevious %}
            <a href="/1">First</a> §§
            <a href="/{{ paginator.currentPage - 1 }}">Previous</a> |
        {% endif %}
        {% if paginator.allPages > 0 %}
            {% for i in range(1, paginator.allPages) %}
                {% if paginator.currentPage == i %}
                    {{ i }}
                {% else %}
                    <a href="/{{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if paginator.hasNext %}
            <a href="/{{ paginator.currentPage + 1 }}">Next</a> §§
            <a href="/{{ paginator.allPages }}">Last</a>
        {% endif %}
    </div>
{% endblock %}


