{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <h1>Hello, {{ app.user.firstName }}!</h1>
    {% else %}
        <h1>Hello Guest!</h1>
    {% endif %}
    <div class="container body-content">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6">
                <article style="border: solid;padding: 5px;border-radius: 3px">
                    <header>
                        <h2 style="text-align: center">{{ product.name }}</h2>
                        <h4>Category: {{ product.category.name }}</h4>
                    </header>

                    <p style="border: solid;border-radius: 3px">
                        Description: {{ product.description }}
                    </p>

                    <footer style="text-align: center">
                        Price: {{ product.price }}лв.
                    </footer>
                    <small class="author">
                        Owner: {{ product.owner.username }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
                               href="#">View product &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}

