{% extends 'base.html.twig' %}
{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(form) }}
            <fieldset disabled>
                <legend>Delete Product</legend>
                <h3 style="text-align: center">Are you sure that you want to delete this product?</h3>
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.category) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.isActive) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.quantity) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.price) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.image) }}
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

