{% extends 'base.html.twig' %}
{% block main %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <article>
                    <header>
                        <h2>{{ product.name }}</h2>
                    </header>

                    <p>
                        {{ product.description }}
                    </p>

                    <p>
                        Цена: {{ product.price|number_format(2) }}лв.
                    </p>

                    <small class="author">
                        Quantity: {{ product.quantity }}<br/>
                        Owner: {{ product.owner.userName }}
                    </small>

                    <footer>
                        {% if (app.user != null and product.owner.id != app.user.id) %}
                            <div class="pull-right">
                                <a href="{{ path('add_to_cart',{'id': product.id}) }}">Add to Cart</a>
                            </div>
                        {% endif %}
                        {% if (app.user != null and (app.user.isAdmin() or app.user.isEditor())) %}
                            <div class="pull-left">
                                <a href="{{ path('edit_product',{'id': product.id}) }}">Edit Product</a>
                            </div><br/>
                            <div class="pull-left">
                                <a href="{{ path('delete_product',{'id': product.id}) }}">Delete Product</a>
                            </div>
                        {% endif %}
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}