{% extends 'base.html.twig' %}
{% block main %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <article class="col-md-12">
                    <header>
                        <h2>{{ product.name }}</h2>
                        {% if product.topPromotion(app.user) %}
                            <h4 style="color: red">{{ product.topPromotion(app.user).name }}</h4>
                        {% endif %}
                    </header>
                    <img src="{{ asset('app/images/' ~ product.image) }}" class="img-responsive"/>
                    <p>
                        {{ product.description }}
                    </p>

                    <p class="pull-right">
                        {% if product.topPromotion(app.user) %}
                            <b><strike>Price: {{ product.price|number_format(2) }}</strike>лв.</b><br/>
                            <b>Promotion Price: {{ product.promoPrice|number_format(2)}}</b>
                        {% else %}
                            <b>Price: {{ product.price|number_format(2) }}лв.</b>
                        {% endif %}
                    </p>
                    {% if product.category %}
                        <p>Category: {{ product.category.parent ? product.category.parent.name ~ '/': '' }}{{ product.category.name }}</p>
                    {% endif %}
                    <small class="author">
                        Status: {{ product.isActive ? 'Active' : 'Inactive' }}<br/>
                        Quantity: {{ product.quantity }}<br/>
                        Owner: <a href="{{ path('view_user_profile',{'id': product.owner.id}) }}">{{ product.owner
                            .userName }}</a>
                    </small>
                    <hr>
                    <footer>
                        {% if (app.user != null and
                        (app.user.isowner(product) or app.user.isAdmin() or app.user.isEditor())) %}
                            <div class="pull-left">
                                <a href="{{ path('edit_product',{'id': product.id}) }}">Edit Product</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('delete_product',{'id': product.id}) }}">Delete Product</a>
                            </div>
                        {% endif %}
                        {% if (app.user != null and product.owner.id != app.user.id) %} <br/>
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        {% endif %}
                    </footer>
                </article>
            </div>
            <div class="col-md-4">
                <h3>Comments</h3>
                {% for comment in product.comments %}
                    <div class="row comment">
                        {% if app.user and app.user.isEditor %}
                            <a class="pull-right" href="{{ path('delete_comment', {'id': comment.id}) }}">X</a>
                        {% endif %}
                        <p>{{ comment.content }}</p>
                        Author: {{ comment.author.username }}
                    </div>
                {% endfor %}
            </div>
            {% if app.user %}
                <div class="col-md-4 comment-form">
                    <h3>Add Comment</h3>
                <form action="{{ path('comment_product', {'id': product.id}) }}" method="post">
                    <textarea name="content"></textarea> <br/>
                    <button type="submit" class="btn btn-default">Comment</button>
                </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}