{% extends 'base.html.twig' %}
{% block main %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <article class="col-md-12">
                    <header>
                        <h2>{{ product.name }}</h2>
                    </header>
                    <img src="{{ asset('app/images/' ~ product.image) }}" class="img-responsive"/>
                    <p>
                        {{ product.description }}
                    </p>

                    <p class="pull-right">
                        {% if product.topPromotion(app.user) %}
                            <b><strike>Price: {{ product.price|number_format(2) }}</strike>лв.</b><br/>
                            <b>Promotion Price: {{ product.promoPrice|number_format(2)}}</b>
                        {% else %}
                            <b>Price: {{ product.price|number_format(2) }}лв.</b>
                        {% endif %}
                        {% if (app.user != null and product.owner.id != app.user.id) %} <br/>
                            <a class="pull-right" href="{{ path('add_to_cart',{'id': product.id}) }}">Add to Cart</a>
                        {% endif %}
                    </p>
                    <p>Category: {{ product.category.parent ? product.category.parent.name ~ '/': '' }}{{ product.category.name }}</p>
                    <small class="author">
                        Status: {{ product.isActive ? 'Active' : 'Inactive' }}<br/>
                        Quantity: {{ product.quantity }}<br/>
                        Owner: <a href="{{ path('view_user_profile',{'id': product.owner.id}) }}">{{ product.owner
                            .userName }}</a>
                    </small>
                    <hr>
                    <footer>
                        {% if (app.user != null and
                        (app.user.isowner(product) or app.user.isAdmin() or app.user.isEditor())) %}
                            <div class="pull-left">
                                <a href="{{ path('edit_product',{'id': product.id}) }}">Edit Product</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('delete_product',{'id': product.id}) }}">Delete Product</a>
                            </div>
                        {% endif %}
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}