{% extends 'base.html.twig' %}

{% block main %}
    <h2>All Users</h2>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('view_user_profile',{'id': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.firstName ~ ' ' ~ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.registrationDate|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block body_id %}

{% endblock %}

