{% extends 'base.html.twig' %}

{% block main %}
    <div class="form-group">
        {{ user.email }} <br/>
        Username: {{ user.username }}
        <br>
        First Name: {{ user.firstName }}
        <br>
        Last Name: {{ user.lastName }}
        <br>
        Cash: {{ user.cash }}лв.
    </div>

    <h1>User Products</h1>
    <div class="container body-content">
        <div class="row">
            {% for product in user.products %}
            <div class="col-sm-4">
                <article style="border: dashed;padding: 5px;border-radius: 3px">
                    <header>
                        <h2 style="text-align: center">{{ product.name }}</h2>
                        <h4>Category: {{ product.category.name }}</h4>
                    </header>

                    <p style="border: solid;border-radius: 3px">
                        Description: {{ product.description }}
                    </p>

                    <footer style="text-align: center">
                        <b>Price: {{ product.price|number_format(2) }}лв.</b>
                    </footer>
                    <small class="author">
                        Quantity: {{ product.quantity }}<br/>
                        Owner: {{ product.owner.username }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
                               href="{{ path('view_product', {'id': product.id}) }}">View product &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock %}