{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <h3>{{ msg }}</h3>
        </div>
    {% endfor %}
    <div class="col-lg-2">
        {{ user.email }} <br/>
        Username: {{ user.username }}
        <br>
        First Name: {{ user.firstName }}
        <br>
        Last Name: {{ user.lastName }}
        <br>
        Cash: {{ user.cash }}лв.
    </div>

    <div class="col-lg-12">
        <h4>Cart</h4>
        <table class="table" border="3">
            <thead class="media-heading">
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for product in user.cart.products %}
                <tr class="table-hover">
                    <td><a href="{{ path('remove_from_cart',{'id':product.id}) }}">X</a>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price|number_format(2) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total: {{ user.cart.getTotal()|number_format(2) }}</td>
            </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <a href="{{ path('cash_out_cart') }}">Cash Out Cart</a>
        </div>
        <div class="pull-left">
            <a href="{{ path('clear_cart') }}">Clear Cart</a>
        </div>
    </div><br/>
    <div class="row">
        {% for product in user.products %}
            <div class="col-lg-4">
                <article class="article">
                    <header>
                        <h2 style="text-align: center">{{ product.name }}</h2>
                        <img src="{{ asset('app/images/' ~ product.image) }}" width="365" height="260"/>
                        <h4>Category: {{ product.category == null ? 'n/a': product.category.name }}</h4>
                    </header>
                    <p style="border: solid;border-radius: 3px">
                        Description: {{ product.description }}
                    </p>
                    <footer style="text-align: center">
                        <b>Price: {{ product.price|number_format(2) }}лв.</b>
                    </footer>
                    <small class="author">
                        Status: {{ product.isActive ? 'Active' : 'Inactive' }}<br/>
                        Quantity: {{ product.quantity }}<br/>
                        Owner: {{ product.owner.username }}
                    </small>
                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
                               href="{{ path('view_product', {'id': product.id}) }}">View product &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}