{% extends 'base.html.twig' %}
{% block main %}
    <div class="container body-content">
        <article>
            <header>
                <h2>{{ user.username }}'s Profile</h2>
            </header>

            <p>
                {{ user.firstName }}
                {{ user.lastName }}
            </p>

            <p>
                Email: {{ user.email }}
            </p>


            <small class="author">
                Registration Date:{{ user.registrationDate|date }}
            </small>

            <footer>

            </footer>
            {% if (app.user != null and app.user.isAdmin()) %}
                <a href="{{ path('edit_roles', {'id': user.id}) }}">Manage User</a>
            {% endif %}
        </article>
    </div>
    <div class="row container"><br/>
        <h2>Products</h2>
        {% for product in user.products %}
            <div class="col-lg-4">
                <article class="article">
                    <header>
                        <h2 style="text-align: center">{{ product.name }}</h2>
                        <img src="{{ asset('app/images/' ~ product.image) }}" class="img-responsive"/>
                        <h4>Category: {{ product.category == null ? 'n/a': product.category.name }}</h4>
                    </header>


                    <p style="border: solid;border-radius: 3px">
                        Description: {{ product.description }}
                    </p>

                    <footer style="text-align: center">
                        <b>Price: {{ product.price|number_format(2) }}лв.</b>
                    </footer>
                    <small class="author">
                        Status: {{ product.status }}<br/>
                        Quantity: {{ product.quantity }}<br/>
                        Owner: {{ product.owner.username }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
                               href="{{ path('view_product', {'id': product.id}) }}">View product &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>


{% endblock %}